@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Lato , sans-serif;
}
.container{
    width: 100%;
    padding: 0 4%;
}
header{
    width: 100%;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 4%;
    align-items: center;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 0 15px;
}
nav ul li a{
    text-decoration: none;
    color: burlywood;
    font-size: 18px;
    font-weight: 700;
}
.logo_area a{
    text-decoration: none;
}
.logo_area h1{
    font-size: 45px;
    color: #deb887;
    font-weight: 700;
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.sec_1{
    width: 100%;
    padding: 120px 0;
    background: url(../images/ring.jpg);
    background-size: cover;
    background-position: center center;
}
.banner_text{
    width: 50%;
    margin:auto;

}
.banner_text p{
    font-size: 24px;
    font-family: cursive;
    color: #deb887;
    font-weight: 300;
}


/* MENU PAGE CSS  */

.about_sec_1{
    width: 100%;
    padding: 50px 0;
}
.about_sec_1 .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.about_sec_1 .row .col_1{
    width: 50%;
}
.about_sec_1 .row .col_1 img{
    width: 80%;
}
.about_sec_1 .row .col_2{
    width: 50%;
    color: #deb887;
}
.about_sec_1 .row .col_2 h2{
    margin-bottom: 5px;
    font-weight: 800;
}
.about_sec_1 .row .col_2 h4{
  color: #deb887;
  font-size: 18px;
  margin-bottom: 5px;
}









.social_icons{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 25px 0;
}
.social_icons i{
    color: #deb887;
    font-size: 40px;
    margin: 0 25px;
}
.copyright{
    width: 100%;
    padding: 5px 4%;
}
.copyright p{
    font-size: 13px;
    font-weight: 700;
    color: #deb887;
}


/* IPADPRO RESPONSIVE  */
@media (max-width: 1024px){
  .sec_1{
      min-height: 50vh;
  }
}

/* IPAD RESPONSIVE  */
@media (max-width: 768px){
    .logo_area h1{
        font-size: 14px;
        margin-top: 5px;
    } 
    nav{
        align-items: flex-start;
        padding: 10px 2%;
    }
    nav ul{
     padding-top: 0px;
    }
    nav ul li{
        margin: 0 5px;
        margin-top: 0px !important;
        padding-top: 0px !important;
    }
    nav ul li a{
        font-size: 12px;
        margin: 0px;
        padding: 0px;
        
    }
   
   
}

/* SMALL DEVICES RESPONSIVE  */
@media (max-width: 550px){
  .logo_area h1{
      font-size: 10px;
  }
 
  nav ul li a{
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}
.banner_text{
    width: 80%;
}
.banner_text p{
    font-size: 16px;
}
.social_icons i{
    font-size: 26px;
    margin: 0 10px;
}
.about_sec_1 .row .col_2 h2{
    font-size: 12px;
}
.about_sec_1 .row .col_2 h4{
    font-size: 10px;
    margin-bottom: 0px;
}
}

/* EXTRA SMALL DEVICES   */
@media (max-width: 350px){
 .banner_text p{
     font-size: 14px;
 }

 .about_sec_1 .row .col_2 h4{
     font-size: 7.5px;
     margin-bottom: 0px;
 }
}