@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: Lato , sans-serif;
    font-weight: 300;
    color: #3a3a3a;

}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
     text-transform: uppercase;
     letter-spacing: 4px;
     color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}   

#menu a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;

}   

#menu li{
    float: right;
    margin-right: 30px;
    color: burlywood
    
}

#menu a:hover {
    border-bottom: 1px solid burlywood;
}

#active {
    border-bottom: 1px solid burlywood;
}

/*  ring-image */

#ring-image { height: 750px;
              background-image: url('/assets/css/images/ring.jpg');
              background-repeat: no-repeat;    
              background-size: cover;    
              max-width: 100%;    
             background-position: top center;
             }
.top-right {
                position: absolute;
                top: 100px;
                right: 1px;
                padding: 1px 1px 1px  1px;
                font-size: 9px;
              }


*/ about */

.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .top-right {
    position: absolute;
    top: 100px;
    right: 16px;
    padding: 100px 84px 75px 100px;
    font-size: larger;
  }

  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: larger;
  }


  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: burlywood;
    font-size: 150%;
    font-family: cursive;
}

/* footer */
footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 250%;
    margin: 1%;
    padding: 1%;
    color: burlywood;
    position: center;
}

/* Media Queries */

@media screen and  (min-width: 400px) and ( max-width: 800px) {
    #logo {
        float: left;
        font-size: 80%;
        margin-left: 20px;
        margin-bottom: -50px;
        color: grey;
    }
    .centered {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: burlywood;
        font-size: 75%;
        font-family: cursive;
    }
    
    .container {
        image-orientation: initial;
        text-align::justify }
  

